.product-container {
  position: relative;
  float: left;
  margin-top: 2%;
  margin-left: 5%;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  background: #ffffff;
  text-align: center;
  color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.product-container * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.product-container img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}
.product-container figcaption {
  padding: 20px 15px;
}
.product-container h1,
.product-container p {
  margin: 0;
}
.product-container h1 {
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.product-container p {
  font-size: 0.9em;
  letter-spacing: 1px;
  font-weight: 300;
}
.product-container .price {
  font-weight: 500;
  font-size: 1.4em;
  line-height: 48px;
  letter-spacing: 1px;
}

.add-cart{
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  font-variant: small-caps;
  width: 100%;
  background-color: #4CAF50;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
